.viewport {
   display: grid;
   grid-template-rows: max-content auto;
   height: var( --vh );
   margin: 0;
   padding: 0;
   position: fixed;
   width: 100vw;

   @include breakpoint( md ) {
      grid-template-columns: min-content 1fr;
      grid-template-rows: auto;
   }

}

.viewportInner {
   position: relative;
	z-index: 400;
}

.viewportMain {
   background: $c-white;
   @include viewport();
	transition: opacity 250ms ease-in-out;

	@include breakpoint( md ) {
      height: var( --vh );
		margin: 0 0 60px;
	}
}

.contentWrapper {
   margin: var(--spacing-0) auto;

   &.-narrow {
      max-width: var(--maxWidth-wrapper);
      padding: var(--spacing-10) var(--spacing-5);
   }

   &.-full {
      min-height: $mobileHeight;
      min-width: 100vw;
      padding: 20px;

      @include breakpoint( xs ) {
         padding: 30px;
      }

      @include breakpoint( sm ) {
         padding: 40px;
      }

      @include breakpoint( md ) {
         min-height: var( --vh );
         min-width: $desktopWidth;
         padding: 60px;
      }
   }

   &.-splash {
      height: $mobileHeight;
      width: 100vw;
      padding: 40px 20px;

      @include breakpoint( xs ) {
         padding: 40px 30px;
      }

      @include breakpoint( sm ) {
         padding: 40px;
      }

      @include breakpoint( md ) {
         height: var( --vh );
         width: $desktopWidth;
         padding: 60px;
      }
   }

   &__frame {

      .default-template & {

         // FALLBACK IF CLIPPATH DOESNT WORK===========================
         // height: calc( $mobileHeight - var(--sectionPadding-y) );
         // margin-top: var(--sectionPadding-y);
         // overflow: hidden;
         // width: 100vw;

         // @include breakpoint( md ) {
         //    height: calc( var( --vh ) - var(--sectionPadding-y) );
         //    width: $desktopWidth;
         // }
            @include breakpoint( md ) {
               --x: calc(100% - 30px);
               --y: calc( var(--sectionPadding-y) * 0.75 );

               clip-path: polygon( 0% var(--y), var(--x) var(--y), var(--x) 100%, 0% 100% );
               height: var(--vh);
               overflow: hidden;
               transition: clip-path 300ms cubic-bezier(0.85, 0, 0.15, 1);
               width: $desktopWidth;

               > .contentWrapper__content {
                  overflow: auto;
               }

               [current-section="footer"] & {
                  clip-path: polygon( 0% 0%, 100% 0%, 100% 100%, 0% 100% );
               }
            }
         }
      }

   &__content {
      height: 100%;
      position: relative;
      z-index: 400;
   }
}