
footer.footer {
   padding: 0;

   @include breakpoint( md ) {
      padding: 0 var(--fontSize-30);
   }
}

.footer {
   display: grid;
   gap: var(--fontSize-30);
   grid-template-rows: max-content max-content;

   @include breakpoint( md ) {
      gap: var(--fontSize-45);
      grid-template-rows: 1fr max-content;
      height: calc( 100vh - var(--fontSize-120) )
   }

   @include breakpoint( lg ) {
      gap: var(--fontSize-60);
   }

   &__links {
      @extend %remove-list-styles;
      align-content: center;
      display: grid;
      gap: var(--fontSize-16);
      grid-template-columns: 1fr;

      @include breakpoint( sm ) {
         gap: var(--fontSize-24);
         grid-template-columns: repeat( 3, 1fr );
      }

      @include breakpoint( md ) {
         gap: var(--fontSize-45);
         grid-auto-rows: min(35vh);
      }

      @include breakpoint( lg ) {
         grid-auto-rows: min(40vh);
      }

      @include breakpoint( xl ) {
         grid-auto-rows: min(45vh);
      }
   }

   &__linkItem {
      height: 100%;
      min-height: 180px;
   }

   &__linkButton {
      @include button( 'full', $gap: 30% );
      align-items: center;
      display: flex;
      font-size: fluid(1.125rem, 2.25rem);
      justify-content: center;
      height: 100%;
      padding: var(--fontSize-16);
      text-align: center;
   }

   &__wrapper {
      display: grid;
      gap: 3rem;
      grid-template-areas:
         'LOCATIONS'
         'SOCIAL'
         'SIGNUP'
         'BRAND';
      justify-content: space-between;
      padding: 0;

      @include breakpoint( sm ) {
         gap: var(--fontSize-30) var(--fontSize-60);
         grid-template-areas:
         'LOCATIONS SIGNUP'
         'SOCIAL BRAND';

         grid-template-columns: repeat(2, 1fr);
      }

      @include breakpoint( lg ) {
         grid-template-areas:
         'LOCATIONS SIGNUP BRAND'
         'LOCATIONS SOCIAL BRAND';
         grid-template-columns: auto auto max-content;
      }

      @include breakpoint( xl ) {
         gap: var(--fontSize-30) var(--fontSize-90);
      }
   }

   &__locations {
      display: grid;
      gap: fluid(1.25, 2.5);
      grid-area: LOCATIONS;
   }

   &__locationsWrapper {
      @extend %remove-list-styles;
   }

   &__locationsState {
      color: $c-white;
      display: grid;
      gap: fluid(1.25, 1.5);
      font-size: var(--fontSize-13);
      font-weight: var(--fontWeight-semibold);
      margin: 0;
      text-transform: uppercase;
   }

   &__locationsStateWrapper {
      @extend %remove-list-styles;
      display: flex;
      flex-wrap: wrap;
      gap: 0.5rem 1rem;
   }

   &__locationsCity {
      margin: 0;
   }

   &__locationsCityLink {
      color: $c-coral;
      display: block;
      font-size: var(--fontSize-18);
      font-weight: var(--fontWeight-bold);
      line-height: 1.1;

      &:hover,
      &:focus {
         color: $c-white;
      }

      &:focus {
         @include focus-style();
      }
   }


   &__social {
      align-items: center;
      display: flex;
      grid-area: SOCIAL;
      justify-content: center;
   }

   &__socialWrapper {
      @extend %remove-list-styles;
      display: grid;
      flex: 1 1 auto;
      gap: var(--fontSize-16);
      grid-template-columns: max-content;
      height: 100%;
      justify-content: start;

      @include breakpoint( lg ) {
         align-items: start;
         gap: 2.5rem;
         grid-template-columns: repeat( 2 , max-content );
      }
   }

   &__socialItem {
      align-items: center;
      display: flex;
      gap: 1.125rem;
      margin: 0;
      position: relative;

      &:focus-within {
         @include focus-style();
      }
   }

   &__socialIcon {
      @include svg-contain(35px, 35px);
      color: $c-white;
   }

   &__socialLink {
      @include pseudo-link();
      color: $c-coral;
      font-size: 18px;
      font-weight: 600;
      transition: color $fast $e-out;

      &:hover,
      &:focus {
         color: $c-white;
      }

      &:focus {
         outline: none;
      }
   }

   &__signup {
      gap: 1rem;
      display: grid;
      grid-area: SIGNUP;
      margin: 0;

      &Title {
         color: $c-white;
         font-size: 21px;
         font-weight: 700;
         margin: 0;
      }

      &Form form {
         align-items: center;
         display: grid;
         gap: 30px;
         grid-auto-flow: row;
         justify-items: start;
         margin: 0;

         @include breakpoint( sm ) {
            justify-items: end;
         }

         @include breakpoint( md ) {
            grid-template-columns: auto max-content;
            justify-items: start;
         }

         @include breakpoint( xl ) {
            grid-template-columns: 20vw max-content;
         }
      }

      &Button {
         @include button( 'full' );
      }

      .gform_body {
         margin: 0;
         width: 100%;

         > .gform_fields {
            width: 100%;
         }
      }

      label {
         @include visuallyhidden();
      }

      input[type="email"] {
         height: 51px;
      }
   }

   &__brand {
      align-self: center;
      grid-area: BRAND;
      width: 160px;

      @include breakpoint( sm ) {
         justify-self: end;
      }

      @include breakpoint( md ) {
         margin-right: var(--fontSize-30);
      }
   }
}