.mainMenu {
   @include viewport();
   background: #334455;
   bottom: 0;
   left: 0;
   overflow-y: hidden;
   position: absolute;
   right: 0;
   top: 0;
   z-index: 800;

   @include breakpoint( md ) {
      overflow-y: auto;
   }

   &__bgImage {
      background-blend-mode: multiply, normal;
      background-image: linear-gradient( rgba($c-black, 0.62), rgba($c-black, 0.62) ), url('../assets/images/menu__bg.jpg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      bottom: 0;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
   }

   &__bgGradient {
      @include primary-gradient();
      bottom: 0;
      left: 0;
      mix-blend-mode: overlay;
      position: absolute;
      right: 0;
      top: 0;
   }

   &__wrapper {
      display: grid;
      grid-template-areas: 'PRIMARY' 'SOCIAL';
      grid-template-rows: repeat( 2, 1fr );
      height: 100%;
      overflow-x: hidden;
      overflow-y: auto;
      padding: 30px;
      position: relative;

      @include breakpoint( xs ) {
         padding: 60px;
      }

      @include breakpoint( sm ) {
         padding: 90px 60px;
      }

      @include breakpoint( md ) {
         align-items: center;
         grid-template-areas: 'PRIMARY SOCIAL';
         grid-template-columns: repeat( 2, 1fr );
         grid-template-rows: auto;
         height: var( --vh );
         justify-items: stretch;
      }
   }

   &__primary {
      align-items: center;
      display: flex;
      grid-area: PRIMARY;
      justify-content: flex-start;
      position: relative;

      @include breakpoint( md ) {
         justify-content: center;
      }
   }

   &__primaryWrapper {
      @extend %remove-list-styles;
      flex: 1 1 auto;
      margin: 0 0 30px;

      @include breakpoint( md ) {
         flex: none;
         margin: 0;
      }
   }

   &__primaryBorder {
      background: $c-white;
      height: 1px;
      position: absolute;
      right: 0;
      bottom: 0;
      width: 100%;

      @include breakpoint( md ) {
         bottom: auto;
         height: 100%;
         top: 0;
         width: 1px;
      }
   }

   &__primaryItem {
      align-items: center;
      display: grid;
      gap: 24px;
      grid-auto-flow: column;
      justify-content: start;
      margin: 0;
      overflow: hidden;
      padding: 1.6rem 0;
      position: relative;

      &:hover,
      &:focus {
         .mainMenu__primaryLinkIcon {
            opacity: 1;
            transform: translateY(0);
            transition: opacity $fast $e-out, transform $fast $e-out;
         }

         .mainMenu__primaryLinkExternalIcon {
            opacity: 0;
            top: 130px;
            transition: opacity $fast $e-out, transform $fast $e-out;
         }
      }
   }

   &__primaryLink {
      @include pseudo-link();
      color: $c-white;
      font-size: 32px;
      font-weight: 700;
      line-height: 1.1;

      @include breakpoint( md ) {
         font-size: 55px;
      }
   }

   &__primaryLinkIcon {
      @include svg-contain( 30px, 20px );
      color: $c-coral;
      opacity: 0;
      transform: translateY(-70px);
      transition: opacity $fast $e-out, transform $fast $e-out;
   }

   &__primaryLinkExternalIcon {
      @include svg-contain( 18px, auto);
      color: $c-white;
      opacity: 1;
      position: absolute;
      top: 50%;
      right: 20px;
      transform: translateY(-50%);
      transition: opacity $fast $e-out, transform $fast $e-out;
   }

   &__social {
      align-items: center;
      display: flex;
      grid-area: SOCIAL;
      justify-content: center;
   }

   &__socialWrapper {
      @extend %remove-list-styles;
      display: grid;
      flex: 1 1 auto;
      gap: 48px;
      grid-template-columns: 1fr;
      justify-content: start;
      margin: 60px 0 0;

      @include breakpoint( md ) {
         flex: none;
         justify-content: center;
         margin: 0;
      }
   }

   &__socialItem {
      align-items: center;
      display: flex;
      margin: 0;
      position: relative;

      > * + * {
         margin-left: 30px;
      }
   }

   &__socialIcon {
      @include svg-contain(40px, 40px);
      color: $c-white;
   }

   &__socialLink {
      @include pseudo-link();
      color: $c-coral;
      font-size: 18px;
      font-weight: 600;
      transition: color $fast $e-out;

      &:hover,
      &:focus {
         color: $c-white;
      }
   }

   &__socialSignup {
      align-items: flex-start;
      flex-direction: column;
      margin: 24px 0 0;

      @include breakpoint( md ) {
         margin: 48px 0 0;
      }

      &Title {
         color: $c-white;
         font-size: 21px;
         font-weight: 700;
         margin: 0 0 30px;
      }

      &Form {
         margin: 0;

         form {
            align-items: center;
            display: grid;
            gap: 30px;
            grid-auto-flow: row;
            justify-items: start;
            margin: 0;

            @include breakpoint( md ) {
               grid-auto-flow: column;
            }
         }
      }


      .gform_body {
         margin: 0;

         input[type="text"] {
            border: 1px solid $c-white;
         }

         button[type="submit"] {
            @include button( $style: 'full', $gap: 40px, $color: $c-white );
         }
      }

      label {
         @include visuallyhidden();
      }
   }
}