.navBar {
   background: $color-grayscale-f;
   box-shadow: $low-shadow;
   display: grid;
   grid-template-columns: 1fr $navHeightMobile $navHeightMobile;
   grid-template-areas: "Logo Social Menu";
   height: $navHeightMobile;
   width: 100vw;
   z-index: 500;

   @include breakpoint( md ) {
      grid-template-columns: 1fr;
      grid-template-rows: var(--navWidthDesktop) 1fr min-content min-content min-content var(--navWidthDesktop);
      grid-template-areas: "Menu" "Logo" "Link1" "Link2" "Locations" "Social";
      height: 100vh;
      height: var( --vh );
      min-width: var(--navWidthDesktop);
      width: auto;
   }

   &[v-cloak] {
      opacity: 0;
   }

   > * {
      align-items: center;
      display: flex;
      flex: 0 0 auto;
      justify-content: center;
      padding: 15px;

      @include breakpoint( md ) {
         padding: 24px;
      }
   }

   > * + * {

      @include breakpoint( md ) {
         border-top: 1px solid $c-gray;
      }
   }

   &__trigger {
      @extend %remove-button-styles;
      color: $c-rose;
      cursor: pointer;
      grid-area: Menu;
      overflow: hidden;
      transition: color 250ms ease-in-out;

      @include breakpoint( md ) {
         padding: var(--fontSize-20);
      }

      @include breakpoint( xl ) {
         padding: var(--fontSize-24);
      }

      &:hover,
      &:focus {
         color: $c-plum;
      }

      svg {
         overflow: visible;
         width: 42px;

         @include breakpoint( md ) {
            width: 54px;
         }
      }
   }

   &__title {
      -webkit-appearance: none;
      appearance: none;
      border: solid $c-gray;
      border-width: 0 1px 0 0;
      grid-area: Logo;
      justify-content: center;

      @include breakpoint( xs ) {
         justify-content: flex-start;
      }

      @include breakpoint( md ) {
         border-width: 1px 0 0 0;
         justify-content: center;
      }

      &Wrapper {
         height: 1.6rem;
         object-fit: contain;
         width: auto;

         @include breakpoint( md ) {
            height: auto;
            width: 30px;
         }

      }

      svg {
         height: 100%;
         width: 100%;

         @include breakpoint( md ) {
            max-height: 19vh;
            max-height: clamp( 100px, 19vh, 230px);
         }
      }
   }

   &__instagram {
      border: solid $c-gray;
      border-width: 0 1px 0 0;
      grid-area: Social;
      transition: background $fast $e-in-out, color $fast $e-in-out;

      &:hover,
      &:focus {
         background: $c-plum;
         color: $c-white;
         transition: background $fast $e-in-out, color $fast $e-in-out;
      }

      @include breakpoint( md ) {
         border-width: 1px 0 0 0;
      }

      svg {
         width: 19px;
      }
   }

   &__cta {
      align-items: center;
      display: grid;
      gap: 12px;
      justify-content: center;
      padding: 24px 12px;
      position: relative;

      &:hover,
      &:focus-within {
         .navBar__ctaLink {
            color: $c-plum;
         }
      }

      &Icon {
         flex: 0 0 auto;
         height: 38px;
         object-fit: contain;
         width: auto;

         img,
         svg {
            height: 100%;
            width: 100%;
         }
      }

      &Link {
         @include pseudo-link;
         color: $c-rose;
         font-family: $ff-ui;
         font-size: var(--fontSize-10);
         font-weight: 700;
         line-height: 1.1;
         text-align: center;
         text-decoration: none;
         text-transform: uppercase;
         transition: color 250ms ease-in-out;

         @include breakpoint( xl ) {
            font-size: var(--fontSize-12);
         }
      }

      &Arrow {
         color: $c-dark;
         height: auto;
         justify-self: center;
         object-fit: contain;
         height: 14px;
         width: auto;

         svg {
            height: 100%;
            width: 100%;
         }
      }
   }

   &__locations {
      display: grid;
      gap: 1.5rem;
      grid-template-columns: 1fr;
      padding: 1.5rem;

      &Icon {
         height: 17px;
         object-fit: contain;
         width: auto;

         svg {
            height: 100%;
            width: 100%;
         }
      }
   }

   &__locationGroup {
      align-items: center;
      display: grid;
      gap: 0.5rem;
      justify-items: center;
      position: relative;

      &:hover,
      &:focus-within {
         .navBar__locationGroupLink {
            color: $c-plum;
         }
      }

      &Icon {
         color: $c-plum;
         height: 20px;
         object-fit: contain;
         width: 30px;

         svg {
            height: 100%;
            width: 100%;
         }
      }

      &Link {
         @include pseudo-link();
         color: $c-rose;
         cursor: pointer;
         font-family: $ff-ui;
         font-size: 1.3rem;
         font-weight: 700;
         line-height: 1.1;
         text-decoration: none;
         transition: color 250ms ease-in-out;
      }
   }

   &__locationCities {
      background: $color-grayscale-f;
      border-left: 1px solid $c-gray;
      box-shadow: $low-shadow;
      display: grid;
      grid-template-columns: max-content;
      left: calc(100% + 24px);
      padding: 24px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);

      &::before,
      &::after {
         border: solid transparent;
         content: '';
         height: 0;
         position: absolute;
         right: 100%;
         top: 50%;
         width: 0;
      }

      &::after {
         border-color: rgba( $color-grayscale-f, 0);
         border-right-color: $color-grayscale-f;
         border-width: 20px;
         margin-top: -20px;
      }
      &::before {
         border-color: rgba( $c-gray, 0);
         border-right-color: $c-gray;
         border-width: 21px;
         margin-top: -21px;
      }

      &Wrapper {
         @extend %remove-list-styles;
         display: grid;
         gap: 18px;
      }
   }

   &__locationCity {
      margin: 0;

      &Link {
         @extend %flex-center;
         color: $c-rose;
         font-family: $ff-ui;
         font-size: 1.4rem;
         font-weight: 700;
         justify-content: flex-start;
         line-height: 1;
         text-decoration: none;
         transition: color 250ms ease-in-out;

         &:hover {
            color: $c-plum;
         }

         span {
            margin: 0 8px 0 0;
         }

         &.-currentPage {
            color: $c-gray;

            &:hover {
               cursor: default;
            }

            > .navBar__locationCityArrow {
               display: none;
            }
         }
      }

      &Arrow {
         @include svg-contain( auto, 0.6rem );
         color: inherit;
         display: flex;
      }
   }

}