.pageSection {
   padding: var(--sectionPadding-y) var(--sectionPadding-x);

   &.-fullWidth {
      align-items: center;
      display: flex;
      justify-content: center;
      min-height: 100vh;
   }

   &.-halfWidth {
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      min-height: $mobileHeight;
      padding-top: 0;
      width: 100vw;

      @include breakpoint( md ) {
         min-height: 100vh;
         padding-left: var(--fontSize-60);
         padding-right: var(--fontSize-60);
         padding-top: var(--sectionPadding-y);
         width: $desktopContentHalf;
      }

      h1 {
         text-align: center;

         @include breakpoint( md ) {
            text-align: left;
         }
      }

      &.-leftLayout {

         @include breakpoint( md ) {
            margin-left: $desktopContentHalf;
         }
      }

      &.-rightLayout {

         @include breakpoint( md ) {
            margin-right: $desktopContentHalf;
         }
      }
   }

   &.-graphicVersion {
      position: relative;

      h1 {
         font-family: $ff-graphic;
         font-size: min(17vh, 23vw);
         font-weight: 400;
         line-height: 0.8;
         margin: 0;
         text-transform: uppercase;

         @include breakpoint( md ) {
            font-size: 11vw;
         }
      }

      .sectionEyebrow {
         margin: 0 0 2rem;
      }

      .pageSection__halfImage {
         flex: 0 1 50vh;
         height: 50vh;

         @include breakpoint( sm ) {
            flex: 0 0 60vh;
            height: 60vh;
         }
      }
   }

   &.-standard {
      align-items: center;
      display: flex;
      justify-content: center;
      min-height: 100vh;
      padding-bottom: 0;

      + .pageSection.-standard {
         padding-top: 0;
      }

      .pageSection__wrapper {
         width: 100%;

         @include breakpoint( xs ) {
            max-width: 84%;
         }

         @include breakpoint( lg ) {
            max-width: 1020px;
         }
      }

   }

   &.-footer {
      display: block;
      min-height: 100vh;
      padding: var(--fontSize-60) var(--fontSize-30);

      .pageSection__wrapper {
         max-width: none;
      }
   }

   &__wrapper {
      max-width: 1220px;
      width: 100%;

      .listing-template & {
         max-width: 1400px;
         width: 100%;
      }

      .pageSection__halfImage + & {
         flex: 1 1 auto;
         padding-top: calc( var(--sectionPadding-y) / 2 );

         @include breakpoint( md ) {
            flex: none;
            padding-top: 0;
         }
      }
   }

   &__halfImage {
      flex: 0 0 60vh;
      height: 60vh;
      margin: 0 calc(50% - 50vw);
      width: 100vw;
   }

   &__halfImageWrapper {
      height: 100%;
      position: relative;
      width: 100%;

      .-graphicVersion & {
         &::before {
            height: 200%;
         }

         &::after {
            background: var(--imageBackground);
            content: '';
            height: 100%;
            left: 0;
            opacity: 0;
            position: absolute;
            top: 100%;
            transform: translateY(-100%);
            transition: opacity 600ms ease-in-out, transform 600ms ease-in-out;
            width: 100%;
            z-index: -1;
         }
      }

      [data-current="true"].-graphicVersion & {

         &::after {
            opacity: 1;
            transform: translateY(0);
         }
      }

      &.-gradientOverlay,
      &.-plumOverlay,
      &.-coralOverlay,
      &.-roseOverlay,
      &.-whiteOverlay {
         &::before {
            bottom: 0;
            content: '';
            left: 0;
            mix-blend-mode: multiply;
            opacity: 0.9;
            position: absolute;
            right: 0;
            top: 0;
            z-index: 1;
         }
      }

      &.-gradientOverlay::before {
         @include primary-gradient();
      }
      &.-plumOverlay::before {
         @include linear-gradient( 90deg, $c-plum, $c-plum);
      }
      &.-coralOverlay::before {
         @include linear-gradient( 90deg, $c-coral, $c-coral);
      }
      &.-roseOverlay::before {
         @include linear-gradient( 90deg, $c-rose, $c-rose);
      }
      &.-whiteOverlay::before {
         @include linear-gradient( 90deg, $c-white, $c-white);
      }
   }

   &__halfImageBg {
      height: 100%;
      object-fit: cover;
      width: 100%;
   }
}