.homeVideo {
   position: absolute;
   z-index: 300;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;

   svg,
   img,
   video {
      height: 100%;
      object-fit: cover;
      width: 100%;
   }

   &__logo,
   &__video {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
   }

   &__logo {
      z-index: 1;
   }
}