.listingTile {
   display: grid;
   gap: var(--fontSize-16);
   grid-template-rows: max-content;

   &.-featured {
      border: solid var(--theme-color-0);
      border-width: 0 0 1px;
      grid-column: 1 / -1;
      padding: 0 0 var(--fontSize-30);

      @include breakpoint( md ) {
         border-width: 0 1px 0 0;
         grid-column: auto;
         grid-row: 1 / -1;
         max-width: 360px;
         padding: 0 var(--fontSize-20) 0 0;
      }
   }

   &__title {
      @include theme-text();
      font-family: var(--font-heading);
      font-size: var(--fontSize-30);
      font-weight: var(--fontWeight-bold);
      line-height: 1.1;

      @include breakpoint( sm ) {
         font-size: var(--fontSize-45);
      }

      @include breakpoint( xl ) {
         font-size: var(--fontSize-60);
      }
   }

   &__text {
      @include theme-text();
      font-size: var(--fontSize-16);

      @include breakpoint( xl ) {
         font-size: var(--fontSize-18);
         line-height: 1.2;
      }
   }

   &__linkList {
      display: grid;
      gap: var(--fontSize-16);
   }

   &__link {
      @include doubleArrow-link-style();
   }


}