.sectionFooter {

   &__nav {
      align-items: center;
      bottom: 3rem;
      display: grid;
      gap: 15px;
      grid-auto-columns: max-content;
      grid-auto-flow: column dense;
      position: fixed;
      right: 3rem;
   }

   &__navLink {
      @include pseudo-link();
      @include theme-text();
      font-size: 1rem;
      font-weight: 600;
      text-transform: uppercase;
   }

   &__navIcon {
      @include svg-contain( 60px, 60px );
      color: currentColor;
      transform: rotate( 90deg );
      transition: transform 300ms ease-in-out;

      &.-reverse {
         transform: rotate( 270deg );
      }

      > svg {
         @include theme-text();
      }
   }
}