.mjScreen {
   display: block;
   height: 100vh;
   left: 0;
   overflow: hidden;
   pointer-events: none;
   position: fixed;
   top: 0;
   transform: rotate(180deg);
   width: 100vw;
   z-index: 1000;

   &__path {
      &.path-1 {
         fill: $c-coral;
         opacity: 0.9;
      }

      &.path-2 {
         fill: $c-rose;
         opacity: 0.7;
      }

      &.path-3 {
         fill: $c-plum;
         opacity: 0.9;
      }
   }

   &__illustration {
      bottom: 0;
      display: grid;
      gap: 10vh;
      left: 0;
      place-content: center;
      place-items: center;
      pointer-events: none;
      position: fixed;
      right: 0;
      top: 0;
      transition: all 1200ms $e-in-out;
      z-index: 9999;

      &.-farmer {
         img {
            height: 50vh;
         }
      }

      &.-woman {
         img {
            height: 40vh;
         }
      }

      &.-joint {
         img {
            height: 36vh;
         }
      }

      &.-mantis {
         img {
            height: 30vh;
         }
      }

      img {
         width: auto;

      }
   }

   &__illustrationText {
      font-size: var(--fontSize-14);
      font-weight: 900;
      text-transform: uppercase;
      color: $c-white;
      letter-spacing: 3px;
   }
}

.tl-wrapper {
   position: unset;
}