.-brightness-0 {
   filter: brightness(0);
}

.-brightness-5 {
   filter: brightness(0.05);
}

.-brightness-10 {
   filter: brightness(0.1);
}

.-brightness-15 {
   filter: brightness(0.15);
}

.-brightness-20 {
   filter: brightness(0.2);
}

.-brightness-25 {
   filter: brightness(0.25);
}

.-brightness-30 {
   filter: brightness(0.3);
}

.-brightness-35 {
   filter: brightness(0.35);
}

.-brightness-40 {
   filter: brightness(0.4);
}

.-brightness-45 {
   filter: brightness(0.45);
}

.-brightness-50 {
   filter: brightness(0.5);
}

.-brightness-55 {
   filter: brightness(0.55);
}

.-brightness-60 {
   filter: brightness(0.6);
}

.-brightness-65 {
   filter: brightness(0.65);
}

.-brightness-70 {
   filter: brightness(0.7);
}

.-brightness-75 {
   filter: brightness(0.75);
}

.-brightness-80 {
   filter: brightness(0.8);
}

.-brightness-85 {
   filter: brightness(0.85);
}

.-brightness-90 {
   filter: brightness(0.9);
}

.-brightness-95 {
   filter: brightness(0.95);
}

.-brightness-100 {
   filter: brightness(1);
}

.-brightness-105 {
   filter: brightness(1.05);
}

.-brightness-110 {
   filter: brightness(1.1);
}

.-brightness-115 {
   filter: brightness(1.15);
}

.-brightness-120 {
   filter: brightness(1.2);
}

.-brightness-125 {
   filter: brightness(1.25);
}

.-brightness-130 {
   filter: brightness(1.3);
}

.-brightness-135 {
   filter: brightness(1.35);
}

.-brightness-140 {
   filter: brightness(1.4);
}

.-brightness-145 {
   filter: brightness(1.45);
}

.-brightness-150 {
   filter: brightness(1.5);
}

