@mixin breakpoint($bp, $rule: min-width) {
   @media screen and (#{$rule}: map-get($breakpoints, $bp)) {
      @content;
   }
}

@mixin intro() {
   @include theme-text('1');
   font-size: var(--fontSize-26);
   font-weight: var(--fontWeight-light);
   line-height: var(--lineHeight-heading);
}

@mixin primary-gradient() {
   @include linear-gradient( 90deg, $c-plum, $c-rose, $c-coral  );
}

@mixin pseudo-link( $z: 1 ) {
   &::after {
      bottom: 0;
      content: '';
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
      z-index: #{ $z };
   }
}

@mixin svg-contain( $width,$height: auto ) {
   height: #{ $height };
   object-fit: contain;
   width: #{ $width };

   svg {
      height: 100%;
      width: 100%;
   }
}

@mixin theme-text( $shade: '0', $transition: true ) {
   color: var( --theme-color-#{ $shade } );

   @if ( $transition ) {
      transition: color var(--theme-transition-speed) $e-in-out;
   }
}

@mixin viewport() {
   height: $mobileHeight;
   overflow-x: hidden;
	overflow-y: auto;
   width: 100vw;

   @include breakpoint( md ) {
      height: var( --vh );
      width: $desktopWidth;
   }
}

@mixin visuallyhidden {
   border: 0;
   clip: rect(0 0 0 0);
   height: 1px;
   margin: -1px;
   overflow: hidden;
   padding: 0;
   position: absolute;
   width: 1px;
}

.sr-only {
   @include visuallyhidden();
}