$ff-stack:  'Titillium Web', "Helvetica Neue", Arial, "Noto Sans", sans-serif;
$ff-ui:     'Chivo', "Helvetica Neue", Arial, "Noto Sans", sans-serif;
$ff-graphic: 'Teko', 'Titillium Web', "Helvetica Neue", Arial, "Noto Sans", sans-serif;

$c-plum:                #715191;
$c-rose:                #BA5B80;
$c-coral:               #F48474;
$c-coral-ada:           #CE4813;
$c-fog:                 #D9D9D9;
$c-white:               #FAF9FC;
$c-light:               #F1ECF5;
$c-gray:                #C0B5BF;
$c-dark:                #402E52;
$c-black:               #070609;

$low-shadow: 0 0px 0.5px rgba(0, 0, 0, 0.057), 0 0px 1.8px rgba(0, 0, 0, 0.083), 0 0px 8px rgba(0, 0, 0, 0.14);
$med-shadow: 0 0.5px 1.1px rgba(0, 0, 0, 0.057), 0 1.8px 3.6px rgba(0, 0, 0, 0.083), 0 8px 16px rgba(0, 0, 0, 0.14);
$high-shadow: 0 1.1px 2.1px rgba(0, 0, 0, 0.057), 0 3.6px 7.1px rgba(0, 0, 0, 0.083), 0 16px 32px rgba(0, 0, 0, 0.14);

$e-in:                  $easeInQuint;
$e-out:                 $easeOutQuint;
$e-in-out:              $easeInOutQuint;

$navHeightMobile:       69px;
$navWidthDesktop:       85px;
$mobileHeight:          calc( var( --vh ) - $navHeightMobile );
$desktopWidth:          calc( 100vw - var(--navWidthDesktop) );
$desktopContentHalf:    calc( ( 100vw - var(--navWidthDesktop) ) / 2 );
$desktopContent40:      calc( ( 100vw - var(--navWidthDesktop) ) - 60% );
$desktopContent60:      calc( ( 100vw - var(--navWidthDesktop) ) - 40% );

$breakpoints: (
   xs: 500px,
   sm: 768px,
   md: 992px,
   lg: 1200px,
   xl: 1500px,
) !default;