button,
input,
optgroup,
select,
textarea {
   font: inherit;
   margin: 0;
}

label {
   cursor: pointer;
   display: block;
   font-weight: bold;
   margin-bottom: 0.5em;
}

.required {
   color: $c-rose;
}

fieldset {
   border: 0;
   margin: 0;
   padding: 0;
}

input[type="date"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
textarea {
   background-color: transparent;
   border: 1px solid $c-white;
   border-radius: 0;
   box-sizing: border-box;
   color: $c-white;
   display: block;
   font-family: $ff-stack;
   font-size: 18px;
   font-weight: 700;
   line-height: 2;
   height: 48px;
   margin: 0;
   padding: 12px 24px;
   transition: border 250ms ease-in-out;
   width: 100%;

   &:focus {
      background-color: transparent;
      border: 1px solid $c-coral;
      outline: none;
      transition: border 250ms ease-in-out;
   }
}

input[type="reset"],
input[type="search"],
input[type="text"],
input[type="submit"] {
   -webkit-appearance: none;
}

::-webkit-input-placeholder {
   color: $c-coral;
}

::ms-input-placeholder {
   color: $c-coral;
}

::-placeholder,
::placeholder {
   color: $c-coral;
}

select {
   border: 1px solid $c-white;
   border-radius: 0;
   color: $c-coral;
   height: 48px;
   width: 100%;

   &:focus {
      background-color: transparent;
      border-color: $c-coral;
   }
}

textarea {
   border-radius: 0;
   height: 8em;
   overflow: auto;
   resize: vertical;
}

input[type="checkbox"],
input[type="radio"] {
   padding: 0;
}

a.button,
span.button {
   @include button();
   @include theme-text( $transition: false );
}