button,
input,
optgroup,
select,
textarea {
   font: inherit;
   margin: 0;
}

label {
   cursor: pointer;
   display: block;
   font-weight: bold;
   margin-bottom: 0.5em;
}

.required {
   color: $c-rose;
}

fieldset {
   border: 0;
   margin: 0;
   padding: 0;
}

input[type="date"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
textarea {
   background-color: transparent;
   border: 1px solid var( --theme-color-0);
   border-radius: 0;
   box-sizing: border-box;
   color: var( --theme-color-0);
   display: block;
   font-family: $ff-stack;
   font-size: 18px;
   font-weight: 700;
   line-height: 2;
   height: 48px;
   margin: 0;
   padding: 12px 24px;
   transition: border var(--theme-transition-speed) $e-in-out, color var(--theme-transition-speed) $e-in-out;
   width: 100%;

   &:focus {
      @include focus-style( -3px, var( --theme-color-accent ) );
      background-color: transparent;
      border-color: var( --theme-color-accent );
   }
}

input[type="reset"],
input[type="search"],
input[type="text"],
input[type="submit"] {
   -webkit-appearance: none;
}

::-webkit-input-placeholder {
   color: var( --theme-color-accent );
   transition: color var(--theme-transition-speed) $e-in-out;
}

::ms-input-placeholder {
   color: var( --theme-color-accent );
   transition: color var(--theme-transition-speed) $e-in-out;
}

::-placeholder,
::placeholder {
   color: var( --theme-color-accent );
   transition: color var(--theme-transition-speed) $e-in-out;
}

select {
   -moz-appearance: none;
   -webkit-appearance: none;
   appearance: none;
   background-color: transparent;
   background-image:
      linear-gradient(45deg, transparent 50%, var(--theme-color-accent ) 50%),
      linear-gradient(135deg, var(--theme-color-accent ) 50%, transparent 50%),
      linear-gradient(to right, var(--theme-color-3 ), var(--theme-color-3 ));
   background-position:
      calc(100% - 20px) calc(1em + 2px),
      calc(100% - 15px) calc(1em + 2px),
      calc(100% - 2.5em) 0.5em;
   background-size:
      5px 5px,
      5px 5px,
      1px 1.7em;
   background-repeat: no-repeat;
   border: 1px solid var( --theme-color-0);
   border-radius: 0;
   color: var( --theme-color-0);
   height: 48px;
   padding: 10px 15px;
   position: relative;
   transition: border var(--theme-transition-speed) $e-in-out, color var(--theme-transition-speed) $e-in-out;
   width: 100%;

   &:hover {
      cursor: pointer;
   }

   &:focus {
      @include focus-style( -3px, var( --theme-color-accent ) );
      border-color: var( --theme-color-accent );
   }

   option {
      background: $c-white;
      color: $c-black;
   }
}

textarea {
   border-radius: 0;
   height: 8em;
   overflow: auto;
   resize: vertical;
}

input[type="checkbox"],
input[type="radio"] {
   padding: 0;
}

a.button:not(.homepage__button),
span.button,
[type="button"]:not(.navBar__trigger, .navBar__title, .gateway__button),
[type="reset"],
[type="submit"] {
   @include button();

   &.-half {
      @include button( $style: 'half' );
   }

   @include theme-text( $transition: false );
}

.gform_wrapper {
   ul {
      @extend %remove-list-styles;
   }

   li {
      margin-bottom: 0;
   }

   .-columns {
      display: grid;
      grid-template-columns: 1fr;

      @include breakpoint( sm ) {
         gap: 30px;
         grid-template-columns: repeat( 2, 1fr );
      }

      @include breakpoint( lg ) {
         grid-template-columns: repeat( 6, 1fr );
      }
   }

   .-half {

      @include breakpoint( sm ) {
         grid-column: auto / span 1;
      }

      @include breakpoint( lg ) {
         grid-column: auto / span 3;
      }
   }
}

.gform_body {
   margin: var(--fontSize-45 ) 0;
}

.gform_fields {
   display: grid;
   grid-template-columns: repeat(12, 1fr);
   column-gap: var(--fontSize-16);
   row-gap: var(--fontSize-30);

   > * {
      grid-column: span 12;
   }
}

.gf-grid-span {
   &-3 {
      @include breakpoint( xs ) {
         grid-column: span 6;
      }

      @include breakpoint( md ) {
         grid-column: span 3;
      }
   }

   &-4 {
      @include breakpoint( xs ) {
         grid-column: span 6;
      }

      @include breakpoint( md ) {
         grid-column: span 4;
      }
   }

   &-6 {
      @include breakpoint( xs ) {
         grid-column: span 6;
      }
   }

   &-12 {
      grid-column: span 12;
   }
}

.gfield_radio {
   display: grid;
   gap: 10px;

   > li {
      align-items: center;
      display: grid;
      gap: 5px;
      grid-auto-flow: column;
      grid-auto-columns: 12px max-content;
      margin: 0;
      position: relative;
   }

   input {
      @include visuallyhidden();

      &:checked + label {
         &::before {
            background: var( --theme-color-accent );
            border-color: var( --theme-color-accent );
         }
      }

      &:focus + label {
         &::before {
            @include focus-style( 2px, var( --theme-color-accent ) );
         }
      }
   }

   label {
      padding: 0 0 0 10px;

      &::before {
         background: transparent;
         border-radius: 50%;
         border: 2px solid var( --theme-color-3 );
         content: '';
         height: 12px;
         left: 0;
         position: absolute;
         top: calc(50% - 6px);
         width: 12px;
      }
   }
}

.gfield_checkbox {
   display: grid;
   gap: 10px;

   > li {
      align-items: center;
      display: grid;
      gap: 5px;
      grid-auto-flow: column;
      grid-auto-columns: 12px auto;
      margin: 0;
      position: relative;
   }

   input {
      @include visuallyhidden();

      &:checked + label {
         &::before {
            background: var( --theme-color-accent );
            border-color: var( --theme-color-accent );
         }
      }

      &:focus + label {
         &::before {
            @include focus-style( 2px, var( --theme-color-accent ) );
         }
      }
   }

   label {
      line-height: 1.1;
      padding: 0 0 0 10px;

      &::before {
         background: transparent;
         border: 2px solid var( --theme-color-3 );
         content: '';
         height: 12px;
         left: 0;
         position: absolute;
         top: calc(50% - 6px);
         width: 12px;
      }
   }
}

.gravityform__error_inform.validation_error {
   background: var( --theme-color-accent );
   color: var( --theme-color-reverse );
   margin: 0 0 20px;
   padding: 15px;

   p:last-child {
      margin: 0;

   }
}

.gravityform__field__honeypot {
   display: none !important;
   left: -9000px;
   position: absolute !important;
}

.gravityform__button {
   position: relative;
}
.gravityform__loader {
   bottom: -12px;
   height: 4px;
   left: 50%;
   position: absolute;
   transform: translateX(-50%);
   width: 100%;

   > span {
      background-color: var(--theme-color-accent, $c-plum);
      display: block;
      width: 100%;

      > span {
         background-color: currentColor;
      }
   }
}