.textBlock {

   .emphasized-paragraph {
      @include intro();
   }

   &.-details {
      p:not(:last-child) {
         margin-bottom: 0.5rem;
      }
   }

   b, strong {
      font-weight: bold;
   }

   a {
      @include link-style();
   }
}